<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="containers" type="Fireasy.Common.Ioc.Configuration.ContainerConfigurationSectionHandler, Fireasy.Common"/>
      <section name="cachings" type="Fireasy.Common.Caching.Configuration.CachingConfigurationSectionHandler, Fireasy.Common" />
    </sectionGroup>
  </configSections>
  <fireasy>
    <cachings>
      <caching name="redis" type="Fireasy.Redis.CacheManager, Fireasy.Redis">
        <config>
          <host server="localhost"></host>
        </config>
      </caching>
    </cachings>
    <containers>
      <container name="c1">
        <registration
           serviceType="Fireasy.Common.Tests.Ioc.IBClass, Fireasy.Common.Tests"
           componentType="Fireasy.Common.Tests.Ioc.BClass, Fireasy.Common.Tests"
           singleton="true">
        </registration>
      </container>
      <container name="c2">
        <registration
           serviceType="Fireasy.Common.Tests.Ioc.IBClass, Fireasy.Common.Tests"
           componentType="Fireasy.Common.Tests.Ioc.BClass, Fireasy.Common.Tests"
           singleton="true">
        </registration>
      </container>
    </containers>
  </fireasy>
</configuration>
