<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="dataInstances" type="Fireasy.Data.Configuration.InstanceConfigurationSectionHandler, Fireasy.Data" />
      <section name="dataGlobal" type="Fireasy.Data.Configuration.GlobalConfigurationSectionHandler, Fireasy.Data" />
      <section name="dataTranslator" type="Fireasy.Data.Entity.Linq.Translators.Configuration.TranslatorConfigurationSectionHandler, Fireasy.Data.Entity" />
    </sectionGroup>
  </configSections>
  <fireasy>
    <dataInstances default="sqlite1">
      <instance name="mysql" providerType="MySql" connectionString="Data Source=localhost;database=Northwind;User Id=root;password=faib;pooling=true;charset=utf8"></instance>
      <instance name="mssql" providerType="MsSql" connectionString="data source=(local);user id=sa;password=123;initial catalog=fireasy-db;tracking=true"></instance>
      <instance name="mssql1" providerType="MsSql" connectionString="data source=(local);Integrated Security=SSPI;AttachDBFileName=|DataDirectory|../../../../documents/db/Northwind.mdf"></instance>
      <instance name="oracle" providerType="Oracle" connectionString="Data Source=orcl;User ID=northwind;Password=123;"></instance>
      <instance name="oracle1" providerName="OracleDataAccess" connectionString="Data Source=orcl;User ID=fireasy-db;Password=123;"></instance>
      <instance name="sqlite" providerType="SQLite" connectionString="Data source=|datadirectory|../../../../documents/db/fireasy.db;Pooling=True;tracking=true"></instance>
      <instance name="sqlite1" providerType="SQLite" connectionString="Data source=|datadirectory|../../../../documents/db/northwind.db3;Pooling=True;tracking=true"></instance>
      <instance name="pqsql" providerType="PostgreSql" connectionString="Server=localhost;Database=postgres;Port=5432;Userid=postgres;password=faib;Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Encoding=UNICODE;Timeout=15;SslMode=Disable"></instance>
      <instance name="access" providerType="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data source=|DataDirectory|../../../documents/db/Northwind.accdb"></instance>
      <instance name="firebird" providerType="Firebird" connectionString="initial catalog=|datadirectory|../../../../documents/db/northwind.fdb;User Id=sysdba;password=masterkey;"></instance>
      <instance name="mongodb" providerName="mongodb" connectionString="server=127.0.0.1;database=northwind"></instance>
    </dataInstances>
    <dataGlobal>
      <options></options>
    </dataGlobal>
    <dataTranslator>
      <options dataCacheEnabled="false" parseCacheEnabled="true"></options>
    </dataTranslator>
  </fireasy>
</configuration>