<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fireasy">
      <section name="dataInstances" type="Fireasy.Data.Configuration.InstanceConfigurationSectionHandler, Fireasy.Data"/>
      <section name="dataGlobal" type="Fireasy.Data.Configuration.GlobalConfigurationSectionHandler, Fireasy.Data"/>
      <section name="dataProviders" type="Fireasy.Data.Provider.Configuration.ProviderConfigurationSectionHandler, Fireasy.Data"/>
    </sectionGroup>
  </configSections>
  <fireasy>
    <dataInstances default="sqlite">
      <instance name="mysql" providerType="MySql" connectionString="Data Source=localhost;database=northwind;User Id=root;password=faib;pooling=true;charset=utf8"></instance>
      <instance name="mssql" providerType="MsSql" connectionString="data source=192.168.1.109;user id=sa;password=faib;initial catalog=northwind;tracking=true"></instance>
      <instance name="localDb" providerType="MsSql" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=northwind;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
      <instance name="oracle" providerType="Oracle" connectionString="Data Source=127.0.0.1/orcl;User ID=northwind;Password=faib"></instance>
      <instance name="oracle1" providerName="oda" connectionString="Data Source=192.168.1.109/orcl;User ID=northwind;Password=123;"></instance>
      <instance name="oracle2" providerName="omda" connectionString="Data Source=192.168.1.109/orcl;User ID=northwind;Password=123;"></instance>
      <instance name="sqlite" providerType="SQLite" connectionString="Data source=|datadirectory|../../../../../documents/db/northwind.db3;Pooling=True;tracking=true"></instance>
      <instance name="pqsql" providerType="PostgreSql" connectionString="Server=localhost;User Id=postgres;Password=faib;Database=northwind;"></instance>
      <instance name="access" providerType="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data source=|DataDirectory|../../../../../documents/db/Northwind.accdb"></instance>
      <instance name="firebird" providerType="Firebird" connectionString="User=SYSDBA;Password=masterkey;Database=|DataDirectory|../../../../../documents/db/Northwind.fdb; DataSource=localhost;"></instance>
      <instance name="db2" providerType="DB2" connectionString="Database=northwin;UserID=db2admin; Password=faib;Server=192.168.1.109"></instance>
      <instance name="excel" providerType="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|appdir|../../../../../documents/db/Northwind.xlsx;Extended Properties='Excel 8.0;HDR=Yes;IMEX=1'"></instance>
      <instance name="foxpro" providerType="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|appdir|../../../../../documents/db;Extended Properties=dBASE IV;User ID=Admin;Password=;"></instance>
      <instance name="mongodb" providerName="mongodb" connectionString="server=127.0.0.1;database=northwind"></instance>
      <instance name="cluster" providerType="MySql">
        <clusters>
          <master connectionString="Data Source=localhost;database=test;User Id=root;password=faib;pooling=true;charset=utf8"></master>
          <slaves>
            <add weight="45" connectionString="Data Source=localhost;database=test;User Id=root;password=faib;pooling=true;charset=utf8"/>
            <add weight="88" connectionString="Data Source=localhost;database=test;User Id=root;password=faib;pooling=true;charset=utf8"/>
          </slaves>
        </clusters>
      </instance>
    </dataInstances>
    <dataGlobal>
      <options attachQuote="true"></options>
    </dataGlobal>
    <dataProviders>
      <provider name="oda" type="OracleDAProvider"></provider>
      <provider name="omda" type="OracleMDAProvider"></provider>
      <provider name="excel" inherited="OleDb">
        <service type="Fireasy.Data.Syntax.OleDbSyntax4Excel, Fireasy.Data"></service>
      </provider>
    </dataProviders>
  </fireasy>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
